@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700;800&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Hanken Grotesk", sans-serif;

  --color-brand-primary: #1a1838;
  --color-brand-secondary: #a43d07;
  --color-brand-accent: #0066FF;
  --color-brand-gold: #FFB800;
  --color-brand-green: #22C55E;
  --color-brand-surface: #f9f9ff;
  --color-brand-surface-low: #f3f3f9;
  --color-brand-surface-container: #ededf3;
  --color-brand-surface-highest: #e2e2e8;
  --color-text-main: #1a1c20;
  --color-text-muted: #47464e;
  --color-border-outline: #c8c5ce;
}

/* Custom visual styles */
.custom-shadow {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

